@import './Components/NavBar/Navbar';
@import './Components/HomePage/HomePage';
@import './Components/LoginPage/LoginPage';
@import './Components/RegistrationPage/RegistrationPage';
@import './Components/WelcomePage/WelcomePage';
@import './Components/SocialMedia/SocialMedia';
@import './Components/PastPapersPage/PastPapers';
@import './Components/TimeTable/TimeTable';
@import './Components/Questions/Questions';

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}