%buttonStyle {
    max-height      : 3.4rem;
    width           : 19.2rem;
    border-radius   : 0.8rem;
    color           : #f3feff;
    background-color: #0b9b9b;
    font-size       : 1.4rem;

    &:hover {
        background-color: #aff5fd;
        color           : #0b9b9b;
    }
}