%buttonStyle {
    padding       : .48rem .8rem;
    font-size     : 1.44rem;
    border        : none;
    outline       : none;
    border-radius : .64rem;
    text-transform: uppercase;
    letter-spacing: .032rem;

    &:hover {
        cursor: pointer;
    }
}