.books {
    background-image   : url("./Components/Assets/PastPapersBackground.png");
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;
    height             : 100vh;

    &__container {
        &__query {
            padding-left: 3.5rem;
        }

        &__books {
            display        : flex;
            justify-content: flex-start;
            align-items    : center;
            padding-top    : 5rem;
            gap            : 3rem;
            padding-left   : 4rem;

            &__book {
                gap             : 1rem;
                display         : flex;
                flex-direction  : column;
                justify-content : center;
                text-decoration : none;
                border          : 2px solid rgba(160, 157, 157, 0.849);
                background-color: rgba(226, 225, 225, 0.568);
                border-radius   : .5rem;
                padding         : 1rem .8rem;
                height          : 15rem;
                min-width       : 27.6rem;

                h2 {
                    color    : rgb(51, 49, 49);
                    font-size: 2.3rem;
                }

                h4 {
                    color    : rgba(73, 72, 72, 0.842);
                    font-size: 1.5rem;
                }

                a {
                    margin-top      : .5rem;
                    text-decoration : none;
                    color           : white;
                    background-color: #201251;
                    border-radius   : .5rem;
                    text-align      : center;
                    padding         : .6rem .3rem;
                    font-size       : 1.2rem;
                    align-self      : center;
                    width           : 7rem;

                    &:hover {
                        background-color: rgb(48, 48, 156);
                    }
                }
            }
        }
    }
}