@import '../globalStyles/Button';

.navbar {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding-left    : 6vw;
    padding-right   : 3vw;
    background-color: transparent;


    .navbar__logo {
        font-size: 2.4rem;
    }

    .navbar__buttons {
        &__logedIn {
            color    : #0b9b9b;
            font-size: 1.4rem;
        }

        &__menu {
            font-size: 3.2rem;
            color    : #0b9b9b;
        }

        &__account {
            font-size: 4.8rem;
            color    : #0b9b9b;
        }
        
        &__notLogedIn {
            color    : #0b9b9b;
            font-size: 1.4rem;
        }
        
        .navbar__buttons__loginButton {
            background-color: #201251;
            color           : #f3feff;
            width           : 8vw;
            font-size: 1.2rem;
            border-radius: 2rem;

            &:hover {
                background-color: #4c49a2;
            }
        }
    }
}