@import '../globalStyles/Button';

.reg__page {
    background-image : url("./Components/Assets/RegisterBackground.png");
    background-size  : cover;
    background-repeat: no-repeat;
    height           : 100vh;
    display          : flex;
    justify-content  : center;
    align-items      : center;

    .reg__page__avatar {
        flex-grow : .25;
        color     : #0b9b9b;
        font-size : 15rem;
        align-self: center;
    }

    &__form {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : flex-start;
        gap            : 1.3rem;
        flex-grow      : .75;

        &__input {
            border       : .05rem solid gray;
            border-radius: .7rem;
            outline      : none;
            padding      : .68rem 1rem .55rem 1rem;
            width        : 40%;
            font-size    : 1.8rem;
            color        : gray;

            &:focus {
                border: 2px solid #0b9b9b;
            }

        }

        &__buttons {
            display        : flex;
            width          : 40%;
            margin-top     : 1.3rem;
            justify-content: space-between;

            .reg__page__form__buttons__button {
                @extend %buttonStyle;

                &:first-child {
                    background-color: rgb(26, 185, 26);

                    &:hover {
                        background-color: rgb(193, 255, 193);
                        color           : rgb(11, 129, 0);
                    }
                }
            }
        }
    }
}