.login__page {
    background-image : url("./Components/Assets/LoginBackground.png");
    background-size  : cover;
    background-repeat: no-repeat;
    height           : 100vh;
    display          : flex;
    justify-content  : center;
    align-items      : center;
    flex-direction   : column;
    gap              : 1rem;

    .login__page__avatar {
        color     : #0b9b9b;
        font-size : 12rem;
        align-self: center;
    }

    &__form {
        display        : flex;
        justify-content: center;
        align-items    : center;
        flex-direction : column;
        width          : 50rem;
        gap            : 1.5rem;
        padding        : 1rem 0rem;

        &__input {
            border       : .05rem solid gray;
            border-radius: .7rem;
            outline      : none;
            padding      : .68rem 1rem .55rem 1rem;
            width        : 80%;
            font-size    : 1.8rem;
            color        : gray;

            &:focus {
                border: 2px solid #0b9b9b;
            }
        }

        a {
            text-decoration: none;
            color          : blue;
            font-size      : 1.6rem;
        }

        .login__page__form__button {

            width           : 12.8rem;
            color           : #f3feff;
            background-color: #0b9b9b;
            @extend %buttonStyle;

            &:hover {
                background-color: #aff5fd;
                color           : #078585;
            }
        }
    }


}