.home {
    background-image: url("./JS/Home/Assets/Background-01.png");
    background-size: cover;
    // background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
    &__page {
        display: flex;
        padding-left: 1.6rem;   
    }
}