@import '../globalStyles/Button';

.WelcomePage {
    background-image   : url('./Components/Assets/welcomeBackground.png');
    background-position: center;
    background-size    : cover;
    height             : 100vh;

    &__Body {
        margin-top     : 5vw;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        padding-left   : 6vw;
        max-width      : 31.68%;

        &__Title {
            display       : flex;
            flex-direction: column;
            color         : #201251;

            span {
                font-weight   : lighter;
                font-size     : 5rem;
                letter-spacing: .25rem;
            }
        }

        &__Description {
            display       : flex;
            flex-direction: column;
            margin-top    : 4vw;

            &__Text {
                padding  : 1.8rem 0rem;
                font-size: 1.6rem;
                color    : #0b9b9b;
            }

            .WelcomePage__Body__Description__Button {
                @extend %buttonStyle;

                &:hover {
                    color: #f3feff;
                    background-color: #201251;
                }
            }
        }
    }
}