@import '../globalStyles/Button';

.navbar {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding-left    : 80px;
    padding-right   : 40px;
    background-color: transparent;
    font-size       : 10px;

    &__logo {
        color: #0b9b9b;
    }

    .navbar__buttons {
        &__button {
            color: #0b9b9b;
        }

        &__menu {
            font-size: 2rem;
            color    : #0b9b9b;
        }

        &__account {
            font-size: 3rem;
            color    : #0b9b9b;
        }

        &__loginButton {
            background-color: #283e71;
            color           : white;
            width           : 6rem;
            @extend %buttonStyle;

            &:hover {
                background-color: #001e63;
            }
        }
    }
}