@import '../globalStyles/Button';

.reg {
    background-image : url("./Components/Assets/RegisterBackground.png");
    background-size  : cover;
    background-repeat: no-repeat;
    height           : 100vh;
    display: grid;
    place-items: center;
    
    &__page {
        display: grid;
        place-items: center;
        gap: 2vw;
        
        .reg__page__avatar {
            color     : #0b9b9b;
            font-size : 15rem;
        }

        &__form {
            display: grid;
            place-items: center;
            gap: 1vw;

            &__input {
                border       : .05vw solid gray;
                border-radius: .8vw;
                outline      : none;
                padding      : .68vw 1vw .55vw 1vw;
                width        : 100%;
                font-size    : 1.8rem;
                color        : gray;

                &:focus {
                    border: 2px solid #0b9b9b;
                }

            }

            &__buttons {
                display        : grid;
                grid-template-columns: auto auto;
                margin-top     : 1.3vw;
                gap: 1vw;

                .reg__page__form__buttons__button {
                    @extend %buttonStyle;

                    &:first-child {
                        background-color: rgb(26, 185, 26);

                        &:hover {
                            background-color: rgb(193, 255, 193);
                            color           : rgb(11, 129, 0);
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 440px) and (max-height: 900px) {
        background-position: right;
        
        &__page {
            gap: 4vw;
            
            &__form {
                gap: 4vw;
                
                &__input {
                    height: 10vw;
                }
                
                &__buttons {
                    gap: 2vw;
                }
            }
        }
    }
}