@import '../globalStyles/Button';

.WelcomePage {
    background-image   : url('./Components/Assets/welcomeBackground.png');
    background-position: center;
    background-size    : cover;
    height             : 100vh;

    &__Body {
        margin-top     : 5rem;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        padding-left   : 9rem;
        max-width      : 31.68%;

        &__Title {
            display       : flex;
            flex-direction: column;
            color         : #283e71;

            span {
                font-weight   : lighter;
                font-size     : 5rem;
                letter-spacing: .25rem;
            }
        }

        &__Description {
            display       : flex;
            flex-direction: column;
            margin-top    : 6rem;

            &__Text {
                padding  : 1.8rem 0rem;
                font-size: 1.6rem;
                color    : #1f7583;
            }

            &__Button {
                background-color: #1f7583;
                color           : white;
                @extend %buttonStyle;
                width         : 12rem;
                padding-top   : 1rem;
                padding-bottom: 1rem;

                &:hover {
                    background-color: #4f8d96;
                }
            }
        }
    }
}