.navbar .navbar__buttons__loginButton, .login__page__form .login__page__form__button, .reg__page__form__buttons .reg__page__form__buttons__button, .WelcomePage__Body__Description__Button {
  padding: .48rem .8rem;
  font-size: 1.44rem;
  border: none;
  outline: none;
  border-radius: .64rem;
  text-transform: uppercase;
  letter-spacing: .032rem;
}

.navbar .navbar__buttons__loginButton:hover, .login__page__form .login__page__form__button:hover, .reg__page__form__buttons .reg__page__form__buttons__button:hover, .WelcomePage__Body__Description__Button:hover {
  cursor: pointer;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8rem;
  padding-right: 4rem;
  background-color: transparent;
}

.navbar .navbar__logo {
  font-size: 2.4rem;
}

.navbar .navbar__buttons__button {
  color: #0b9b9b;
  font-size: 1.4rem;
}

.navbar .navbar__buttons__menu {
  font-size: 3.2rem;
  color: #0b9b9b;
}

.navbar .navbar__buttons__account {
  font-size: 4.8rem;
  color: #0b9b9b;
}

.navbar .navbar__buttons__loginButton {
  background-color: #283e71;
  color: white;
  width: 9.6rem;
}

.navbar .navbar__buttons__loginButton:hover {
  background-color: #001e63;
}

.home {
  background-image: url("./Components/Assets/mainBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.home__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2.56rem;
}

.dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-top: 6.4rem;
  margin-left: 9.6rem;
}

.dashboard__welcome {
  font-size: 3.2rem;
  color: #0b9b9b;
}

.dashboard__shortcuts {
  margin-left: 19.2rem;
  display: -ms-grid;
  display: grid;
  gap: 3.2rem;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.dashboard__shortcuts .dashboard__shortcuts__button {
  max-height: 3.4rem;
  width: 19.2rem;
  border-radius: 0.8rem;
  color: #f3feff;
  background-color: #0b9b9b;
  font-size: 1.4rem;
  letter-spacing: .04rem;
}

.dashboard__shortcuts .dashboard__shortcuts__button:hover {
  background-color: #aff5fd;
  color: #078585;
}

.recents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
}

.recents__heading {
  color: #0b9b9b;
  font-size: 3.2rem;
  margin-bottom: 2.24rem;
}

.recents .recents__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  gap: 2.24rem;
}

.recents .recents__items .recents__items__item {
  font-size: 1.4rem;
  letter-spacing: .04rem;
  padding: 2.24rem;
  width: 19.2rem;
  background-color: #aff5fd;
  color: #078585;
  font-weight: bold;
}

.recents .recents__items .recents__items__item:hover {
  background-color: #0b9b9b;
  color: #f3feff;
}

.login__page {
  background-image: url("./Components/Assets/LoginBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.login__page .login__page__avatar {
  color: #0b9b9b;
  font-size: 12rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login__page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50rem;
  gap: 1.5rem;
  padding: 1rem 0rem;
}

.login__page__form__input {
  border: .05rem solid gray;
  border-radius: .7rem;
  outline: none;
  padding: .68rem 1rem .55rem 1rem;
  width: 80%;
  font-size: 1.8rem;
  color: gray;
}

.login__page__form__input:focus {
  border: 2px solid #0b9b9b;
}

.login__page__form a {
  text-decoration: none;
  color: blue;
  font-size: 1.6rem;
}

.login__page__form .login__page__form__button {
  width: 12.8rem;
  color: #f3feff;
  background-color: #0b9b9b;
}

.login__page__form .login__page__form__button:hover {
  background-color: #aff5fd;
  color: #078585;
}

.navbar .navbar__buttons__loginButton, .login__page__form .login__page__form__button, .reg__page__form__buttons .reg__page__form__buttons__button, .WelcomePage__Body__Description__Button {
  padding: .48rem .8rem;
  font-size: 1.44rem;
  border: none;
  outline: none;
  border-radius: .64rem;
  text-transform: uppercase;
  letter-spacing: .032rem;
}

.navbar .navbar__buttons__loginButton:hover, .login__page__form .login__page__form__button:hover, .reg__page__form__buttons .reg__page__form__buttons__button:hover, .WelcomePage__Body__Description__Button:hover {
  cursor: pointer;
}

.reg__page {
  background-image: url("./Components/Assets/RegisterBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reg__page .reg__page__avatar {
  -webkit-box-flex: .25;
      -ms-flex-positive: .25;
          flex-grow: .25;
  color: #0b9b9b;
  font-size: 15rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.reg__page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.3rem;
  -webkit-box-flex: .75;
      -ms-flex-positive: .75;
          flex-grow: .75;
}

.reg__page__form__input {
  border: .05rem solid gray;
  border-radius: .7rem;
  outline: none;
  padding: .68rem 1rem .55rem 1rem;
  width: 40%;
  font-size: 1.8rem;
  color: gray;
}

.reg__page__form__input:focus {
  border: 2px solid #0b9b9b;
}

.reg__page__form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin-top: 1.3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reg__page__form__buttons .reg__page__form__buttons__button {
  width: 12.8rem;
  color: #f3feff;
  background-color: #0b9b9b;
}

.reg__page__form__buttons .reg__page__form__buttons__button:first-child {
  background-color: #1ab91a;
}

.reg__page__form__buttons .reg__page__form__buttons__button:first-child:hover {
  background-color: #058805;
  color: white;
}

.reg__page__form__buttons .reg__page__form__buttons__button:hover {
  background-color: #aff5fd;
  color: #078585;
}

.navbar .navbar__buttons__loginButton, .login__page__form .login__page__form__button, .reg__page__form__buttons .reg__page__form__buttons__button, .WelcomePage__Body__Description__Button {
  padding: .48rem .8rem;
  font-size: 1.44rem;
  border: none;
  outline: none;
  border-radius: .64rem;
  text-transform: uppercase;
  letter-spacing: .032rem;
}

.navbar .navbar__buttons__loginButton:hover, .login__page__form .login__page__form__button:hover, .reg__page__form__buttons .reg__page__form__buttons__button:hover, .WelcomePage__Body__Description__Button:hover {
  cursor: pointer;
}

.WelcomePage {
  background-image: url("./Components/Assets/welcomeBackground.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.WelcomePage__Body {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 9rem;
  max-width: 31.68%;
}

.WelcomePage__Body__Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #283e71;
}

.WelcomePage__Body__Title span {
  font-weight: lighter;
  font-size: 5rem;
  letter-spacing: .25rem;
}

.WelcomePage__Body__Description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6rem;
}

.WelcomePage__Body__Description__Text {
  padding: 1.8rem 0rem;
  font-size: 1.6rem;
  color: #1f7583;
}

.WelcomePage__Body__Description__Button {
  background-color: #1f7583;
  color: white;
  width: 12rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.WelcomePage__Body__Description__Button:hover {
  background-color: #4f8d96;
}

.SocialMedia {
  margin-top: 6.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #283e71;
}

.SocialMedia svg path:hover {
  color: #4870cc;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=App.css.map */