.navbar .navbar__buttons__loginButton, .WelcomePage__Body__Description__Button {
  padding: .48rem .8rem;
  font-size: 1.44rem;
  border: none;
  outline: none;
  border-radius: .64rem;
  text-transform: uppercase;
  letter-spacing: .032rem;
}

.navbar .navbar__buttons__loginButton:hover, .WelcomePage__Body__Description__Button:hover {
  cursor: pointer;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8rem;
  padding-right: 4rem;
  background-color: transparent;
}

.navbar .navbar__logo {
  font-size: 2.4rem;
}

.navbar .navbar__buttons__button {
  color: #0b9b9b;
  font-size: 1.4rem;
}

.navbar .navbar__buttons__menu {
  font-size: 3.2rem;
  color: #0b9b9b;
}

.navbar .navbar__buttons__account {
  font-size: 4.8rem;
  color: #0b9b9b;
}

.navbar .navbar__buttons__loginButton {
  background-color: #283e71;
  color: white;
  width: 9.6rem;
}

.navbar .navbar__buttons__loginButton:hover {
  background-color: #001e63;
}

.home {
  background-image: url("./Components/Assets/mainBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.home__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2.56rem;
}

.dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-top: 6.4rem;
  margin-left: 9.6rem;
}

.dashboard__welcome {
  font-size: 3.2rem;
  color: #0b9b9b;
}

.dashboard__shortcuts {
  margin-left: 19.2rem;
  display: -ms-grid;
  display: grid;
  gap: 3.2rem;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.dashboard__shortcuts .dashboard__shortcuts__button {
  max-height: 3.4rem;
  width: 19.2rem;
  border-radius: 0.8rem;
  color: #f3feff;
  background-color: #0b9b9b;
  font-size: 1.4rem;
  letter-spacing: .04rem;
}

.dashboard__shortcuts .dashboard__shortcuts__button:hover {
  background-color: #aff5fd;
  color: #078585;
}

.recents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
}

.recents__heading {
  color: #0b9b9b;
  font-size: 3.2rem;
  margin-bottom: 2.24rem;
}

.recents .recents__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  gap: 2.24rem;
}

.recents .recents__items .recents__items__item {
  font-size: 1.4rem;
  letter-spacing: .04rem;
  padding: 2.24rem;
  width: 19.2rem;
  background-color: #aff5fd;
  color: #078585;
  font-weight: bold;
}

.recents .recents__items .recents__items__item:hover {
  background-color: #0b9b9b;
  color: #f3feff;
}

.login__page {
  background-image: url("./Components/Assets/LoginBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.login__page__form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  width: 25rem;
}

.login__page__form label {
  color: gray;
  width: 6rem;
  display: inline-block;
  font-size: 1.1rem;
}

.login__page__form input {
  border: .1rem solid gray;
  border-radius: 2rem;
  text-decoration: none;
  outline: none;
  padding: .4rem 1rem .4rem 1rem;
  margin-bottom: .5rem;
  margin-left: 1rem;
  width: 60%;
  font-size: 1.2rem;
  color: gray;
}

.login__page__form a {
  text-decoration: none;
  color: blue;
  font-size: 1rem;
  margin-left: 7.2rem;
}

.login__page__form BUTTON {
  display: block;
  margin-top: 2rem;
  margin-left: 10rem;
  max-height: 34px;
  width: 8rem;
  border-radius: 0.5rem;
  color: #f3feff;
  background-color: #0b9b9b;
}

.login__page__form BUTTON:hover {
  background-color: #aff5fd;
  color: #078585;
}

.reg__page {
  background-image: url("./Components/Assets/RegisterBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
 sans-serif;
}

.reg__page__form {
  position: absolute;
  top: 45%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  width: 50rem;
}

.reg__page__form label {
  color: gray;
  width: 6rem;
  display: inline-block;
  font-size: 1.1rem;
}

.reg__page__form input {
  border: .1rem solid gray;
  border-radius: 2rem;
  text-decoration: none;
  outline: none;
  padding: .4rem 1rem .4rem 1rem;
  margin-bottom: .5rem;
  width: 40%;
  font-size: 1.2rem;
  color: gray;
}

.reg__page__form BUTTON {
  display: block;
  margin-top: 2rem;
  margin-left: 20rem;
  max-height: 34px;
  width: 8rem;
  border-radius: 1rem;
  color: #f3feff;
  background-color: #0b9b9b;
}

.reg__page__form BUTTON:hover {
  background-color: #aff5fd;
  color: #078585;
}

.reg__page__prev {
  position: absolute;
  margin-top: 35rem;
  margin-left: 5rem;
}

.reg__page__prev BUTTON {
  display: block;
  max-height: 34px;
  width: 8rem;
  border-radius: 1rem;
  color: #f3feff;
  background-color: #0b9b9b;
}

.reg__page__prev BUTTON:hover {
  background-color: #aff5fd;
  color: #078585;
.navbar .navbar__buttons__loginButton, .WelcomePage__Body__Description__Button {
  padding: .48rem .8rem;
  font-size: 1.44rem;
  border: none;
  outline: none;
  border-radius: .64rem;
  text-transform: uppercase;
  letter-spacing: .032rem;
}

.navbar .navbar__buttons__loginButton:hover, .WelcomePage__Body__Description__Button:hover {
  cursor: pointer;
}

.WelcomePage {
  background-image: url("./Components/Assets/welcomeBackground.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.WelcomePage__Body {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 9rem;
  max-width: 31.68%;
}

.WelcomePage__Body__Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #283e71;
}

.WelcomePage__Body__Title span {
  font-weight: lighter;
  font-size: 5rem;
  letter-spacing: .25rem;
}

.WelcomePage__Body__Description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6rem;
}

.WelcomePage__Body__Description__Text {
  padding: 1.8rem 0rem;
  font-size: 1.6rem;
  color: #1f7583;
}

.WelcomePage__Body__Description__Button {
  background-color: #1f7583;
  color: white;
  width: 12rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.WelcomePage__Body__Description__Button:hover {
  background-color: #4f8d96;
}

.SocialMedia {
  margin-top: 6.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #283e71;
}

.SocialMedia svg path:hover {
  color: #4870cc;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=App.css.map */