.pastPapers {
    background-image: url("./Components/Assets/PastPapersBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}